{% extends 'blog/base.html' %} {% load static %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Blog Website</a>
  </div>
</nav>

<section class="bg-light text-center p-5">
  <div class="container">
    <h1 class="display-4">Welcome to My Website</h1>
    <p class="lead">This is a simple home page using Bootstrap.</p>
  </div>
</section>

<div class="container mt-5">
  <div class="row">
    {% for post in posts %}

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">{{ post.date }}</p>
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<footer class="bg-dark text-white text-center p-3 mt-5">
  <p>
    © 2026 Blog Website developed by: Full-Stack Web Developer Eng: Mahmoud
    Ayoub| All Rights Reserved
  </p>
</footer>

{% endblock %}
