{% extends 'blog/base.html' %} {% block content %} {%load static%}

<head>
  <style>
    body {
      background-color: #f4f6f9;
    }
    .login-box {
      max-width: 400px;
      margin: auto;
      margin-top: 120px;
      padding: 30px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <div class="login-box">
    <h3 class="text-center mb-4">Login</h3>

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="text"
          name="name"
          placeholder="Username"
          class="form-control"
          placeholder="Enter your email"
        />

        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-control"
          placeholder="Enter your password"
        />

        />
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" />
        <label class="form-check-label">Remember me</label>
      </div>

      <button type="submit" class="btn btn-primary w-100">Login</button>

      <div class="text-center mt-3">
        <a href="#">Forgot password?</a>
      </div>
      <div class="text-center mt-3">
        <a href="/signup">Create an account</a>
      </div>
    </form>
  </div>
</body>

{% endblock %}
